In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import molmodmt as m3t
from simtk import unit

/home/diego/Myopt/Miniconda/miniconda3/envs/UIBCDF_lab_dev/lib/python3.7/site-packages/yank-0.24.0-py3.7-linux-x86_64.egg/yank/experiment.py:1168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """)

In [4]:
system = m3t.load('pdb:1B3T','pdbfixer')

In [5]:
m3t.get(system, n_aminoacids=True, n_nucleotides=True, n_waters=True, n_ions=True)

[294, 36, 182, 0]

In [6]:
system_no_waters = m3t.remove_solvent(system)

In [8]:
m3t.get(system_no_waters, n_aminoacids=True, n_nucleotides=True, n_waters=True, n_ions=True)

[294, 36, 0, 0]

In [10]:
system_fixed = m3t.fix_pdb_structure(system_no_waters, verbose=True)

{}
{}
[]

In [11]:
view = m3t.view(system_fixed)
view.clear()
view.add_ball_and_stick(":A OR :B")
view.center()

view

NGLWidget()

DG0 --> 5 terminal   
DC35 --> 3 terminal   

DG18 --> 5 terminal   
DC17 --> 3 terminal

In [12]:
system_fixed_with_hydrogens = m3t.add_hydrogens(system_fixed, pH=7.4, verbose=True)

HIS-43 to HIE-43
HIS-68 to HID-68
HIS-144 to HID-144
CYS-173 to CYX-173
HIS-190 to HIE-190
HIS-215 to HID-215
HIS-291 to HID-291
CYS-320 to CYX-320

In [13]:
m3t.info(system_fixed_with_hydrogens, element='chains', selection='all')

   index id molecule type
0      0  A           dna
1      1  B           dna
2      2  C       protein
3      3  D       protein

In [14]:
m3t.info(system_fixed_with_hydrogens, element='residues', selection='dna and chainid 0')

   name  index  id  chain index chain id molecule type
0    DG      0   0            0        A           dna
1    DG      1   1            0        A           dna
2    DG      2   2            0        A           dna
3    DA      3   3            0        A           dna
4    DA      4   4            0        A           dna
5    DG      5   5            0        A           dna
6    DC      6   6            0        A           dna
7    DA      7   7            0        A           dna
8    DT      8   8            0        A           dna
9    DA      9   9            0        A           dna
10   DT     10  10            0        A           dna
11   DG     11  11            0        A           dna
12   DC     12  12            0        A           dna
13   DT     13  13            0        A           dna
14   DT     14  14            0        A           dna
15   DC     15  15            0        A           dna
16   DC     16  16            0        A           dna
17   DC     17  17            0        A           dna

In [15]:
m3t.info(system_fixed_with_hydrogens, element='atoms', selection='chainid 0 and resid 0 and type H')

,name,index,id,residue_name,residue index,residue id,chain index,chain id,molecule type
0,HO5',1,2,DG,0,0,0,A,dna
1,H5',3,4,DG,0,0,0,A,dna
2,H5'',4,5,DG,0,0,0,A,dna
3,H4',6,7,DG,0,0,0,A,dna
4,H3',9,10,DG,0,0,0,A,dna
5,H2',12,13,DG,0,0,0,A,dna
6,H2'',13,14,DG,0,0,0,A,dna
7,H1',15,16,DG,0,0,0,A,dna
8,H8,18,19,DG,0,0,0,A,dna
9,H1,24,25,DG,0,0,0,A,dna
10,H21,27,28,DG,0,0,0,A,dna
11,H22,28,29,DG,0,0,0,A,dna

In [16]:
m3t.info(system_fixed_with_hydrogens, element='atoms', selection='chainid 0 and resid 1 and type H')

,name,index,id,residue_name,residue index,residue id,chain index,chain id,molecule type
0,H5',36,37,DG,1,1,0,A,dna
1,H5'',37,38,DG,1,1,0,A,dna
2,H4',39,40,DG,1,1,0,A,dna
3,H3',42,43,DG,1,1,0,A,dna
4,H2',45,46,DG,1,1,0,A,dna
5,H2'',46,47,DG,1,1,0,A,dna
6,H1',48,49,DG,1,1,0,A,dna
7,H8,51,52,DG,1,1,0,A,dna
8,H1,57,58,DG,1,1,0,A,dna
9,H21,60,61,DG,1,1,0,A,dna
10,H22,61,62,DG,1,1,0,A,dna

In [17]:
system_minimized = m3t.energy_minimization(system_fixed_with_hydrogens)

Potential Energy before minimization: 21806.886855290635 kJ/mol
Potential Energy after minimization: -50812.82905389049 kJ/mol

In [21]:
view = m3t.view(system_minimized)
view.clear()
view.add_ball_and_stick(":A OR :B")
view.center()

view

NGLWidget()